// Blue #007bff
// Blue Hover #007bff
// Green #00Ca4c
// Green Hover #00bd48
// Silver #ecedf3
// Grey #f8f9fa

:root {
    --primary-color: #00ca4c;
    --grey: #ecedf3;
    --white: #fff;
    --text: #212529;
    --muted: #6c757d;
    --hover: #00bd48;
}

$primary: #00ca4c;
