// Blue #007bff
// Blue Hover #0068d8
// Green ##72bd0b
// Green Hover #67aa09
// Silver #ecedf3
// Grey #f8f9fa

:root {
    --primary-color: #72bd0b;
    --grey: #ecedf3;
    --white: #fff;
    --text: #212529;
    --muted: #6c757d;
    --hover: #67aa09;
}

$primary: #72bd0b;
