// Blue #007bff
// Green #00Ca4c
// JotForm Silver #ecedf3
// Grey #f8f9fa

:root {
    --primary-color: #007bff;
    --grey: #ecedf3;
    --white: #fff;
    --text: #212529;
    --muted: #6c757d;
    --hover: #0056b3;
}

$primary: #007bff;
