.btn {
    margin: toRem(32) 0 !important;
}

.MuiButton-contained {
    background-color: var(--primary-color) !important;
    color: var(--white) !important;

    &:hover {
        background-color: var(--hover) !important;
    }
}

.MuiButton-outlined {
    border-color: var(--white) !important;
    color: var(--white) !important;

    &:hover {
        background-color: darken($primary, 5%) !important;
        border-color: var(--white) !important;
    }
}
