.btn {
    border-radius: 4px;
    color: var(--white);
    display: block;
    font-weight: 500;
    line-height: 1.75;
    margin: 0 auto;
    max-width: 13.75rem;
    padding: toRem(4) toRem(16);
    transition: background-color 0.3 ease;
    width: auto;
}

.primary-btn {
    background-color: var(--primary-color);

    &:hover {
        background-color: darken($primary, 5%);
    }
}

.secondary-btn {
    border: 1px solid var(--white);

    &:hover {
        background-color: darken($primary, 5%);
        border-color: var(--white);
    }
}

.btn-container {
    margin: toRem(32) 0;
}
