.accordion {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    color: #000;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
    text-align: left;
    transition: 0.4s;
    width: 100%;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion::after {
    color: #777;
    content: '+';
    float: right;
    font-size: 1.25rem;
    margin-left: 5px;
}

.active::after {
    content: '-';
    font-size: 1.25rem;
}

.panel {
    background-color: #fff;
    display: none;
    overflow: hidden;
    padding: 1rem;
    text-align: left;
}
