.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/images/bk-banner.jpg') center center/cover;


}

.hero-section-wrap {
    padding: toRem(120) 0;
}

@media(max-width:767px){
    .hero-section-wrap {
        padding: toRem(60) 0;
    }
}