.hero-section {
    background: url(/images/bk-banner.jpg) top center/cover;
}

.hero-section-wrap {
    padding: toRem(120) 0;
}

@media(max-width:767px){
    .hero-section-wrap {
        padding: toRem(60) 0;
    }
}