@import 'partials/style';

html,
body {
    margin: 0;
    padding: 0;
}

.is-white {
    color: var(--white);
    font-weight: inherit;

    &:hover {
        color: var(--white);
        text-decoration: none;
    }
}