@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --primary-color: #007bff;
  --grey: #f8f9fa;
  --white: #fff;
  --text: #212529;
  --muted: #6c757d;
  --hover: #0056b3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
small,
li {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.body-text {
  font-size: 1rem;
  margin-bottom: 1.75rem;
  text-align: left;
}

.heading-1,
.heading-2,
.heading-3 {
  font-weight: 400;
  margin-bottom: 1.75rem;
}

.heading-1 {
  font-size: 2.5rem;
}
@media (max-width: 767px) {
  .heading-1 {
    font-size: 1.75rem;
  }
}

.heading-2 {
  font-size: 2rem;
}
@media (max-width: 767px) {
  .heading-2 {
    font-size: 1.25rem;
  }
}

.heading-3 {
  font-size: 1.25rem;
}
@media (max-width: 767px) {
  .heading-3 {
    font-size: 1.125rem;
  }
}

.link {
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
}
.link:hover {
  color: var(--hover);
  text-decoration: underline;
}

.small {
  font-size: 0.75rem;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: var(--muted);
}

.MuiButton-contained {
  background-color: var(--primary-color);
  color: var(--white);
}
.MuiButton-contained:hover {
  background-color: var(--hover);
}

.MuiButton-outlined {
  border-color: var(--white);
  color: var(--white);
}
.MuiButton-outlined:hover {
  background-color: #006fe6;
  border-color: var(--white);
}

.content-section {
  background-color: var(--grey);
}

.form {
  margin-bottom: 2rem;
}

.form-wrap {
  background-color: var(--white);
  border-radius: 8px;
  padding: 2.5rem 1.5rem;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiFilledInput-underline:after {
  border-color: var(--primary-color) !important;
}

.MuiFormLabel-root.Mui-focused {
  color: var(--primary-color) !important;
}

.form-section {
  background: url("/images/bk-banner2.jpg") bottom center/cover;
}

.header {
  background-color: var(--primary-color);
  position: fixed;
  transition: top 0.3s;
  width: 100%;
}

.header-cta {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .header-cta {
    justify-content: center;
  }
}

.header-wrap {
  padding: 1rem;
  position: relative;
}

.logo {
  font-size: 1.25rem;
  font-weight: 400;
  white-space: nowrap;
}

.logo-wrap {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .logo-wrap {
    margin-bottom: 0.5rem;
  }
}

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("/images/bk-banner.jpg") center center/cover;
}

@media (max-width: 767px) {
  .hero-section-wrap {
    padding: 3.75rem 0;
  }
}
html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

.is-white {
  color: var(--white);
  font-weight: inherit;
}
.is-white:hover {
  color: var(--white);
  text-decoration: none;
}

/*# sourceMappingURL=global.css.map */
